---
layout: default
---

<header class="post-header" style="display: none;">
    <link rel="stylesheet" href="{{ '/assets/css/about.css' | relative_url }}">
</header>

<article class="page-content container">
    <h1>{{ page.title }}</h1>
    {% if page.title == "Acerca de" or page.title == "Acerca" %}
    {% if site.profile_img %}
      <div style="text-align: center; margin-bottom: 20px;">
        <img src="{{ site.profile_img | relative_url }}" alt="{{ site.title }}" style="border-radius: 50%; width: 120px; height: 120px;">
      </div>
    {% endif %}
    {% endif %}
    {{ content }}
</article>
